* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-text-color: white;
	--secondary-text-color: rgb(203, 180, 154);
	--primary-font-family: "Handlee", cursive;
	--secondary-font-family: "Nunito", sans-serif;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("./bckgrd_sm.jpg");
	background-repeat: no-repeat;
	color: var(--primary-text-color);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	font-family: var(--primary-font-family);
	letter-spacing: 0.1rem;
	position: relative;
	min-height: 100vh;
}

header {
	padding: 3rem 1rem;
}

ul {
	list-style: none;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: 0;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: var(--secondary-text-color);
	transition: all 0.3s;
}

a:hover {
	filter: brightness(1.5);
	cursor: pointer;
}

.welcome,
.intro,
.specials {
	background-color: rgba(0, 0, 0, 0.61);
	padding: 5rem 1rem;
	margin: 5rem 2rem 0 2rem;
}

h1 {
	font-weight: lighter;
}

.button {
	display: block;
	margin: 2rem auto 0 auto;
	width: 8rem;
	padding: 0.5rem 0;
	border-radius: 1rem;
	background-color: rgba(128, 92, 60, 0.894);
	font-family: var(--secondary-font-family);
	color: var(--primary-text-color);
}

.button:hover {
	color: black;
	background-color: var(--primary-text-color);
	filter: brightness(0.8);
}

.welcome p {
	color: var(--secondary-text-color);
}

.intro img {
	height: 65vw;
	width: 65vw;
	object-fit: cover;
	background: linear-gradient();
	box-shadow: rgba(75, 75, 75, 0.175) 0 0 0 0.5rem;
}

.intro h1,
.specials h1 {
	color: var(--secondary-text-color);
}

.intro p {
	font-family: var(--secondary-font-family);
	font-size: 0.8rem;
	padding: 2rem 1rem;
}

.specials {
	background: rgba(66, 66, 66, 0.428);
	backdrop-filter: blur(20px);
}

.specials ul {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	letter-spacing: 0.15rem;
}

.specials ul li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

footer p {
	font-family: var(--secondary-font-family);
	font-size: 0.8rem;
	padding-bottom: 1rem;
}

.seperator{
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	height: 1px;
	background: rgba(202, 198, 190, 0.555);
	margin-bottom: 2rem;
}

.space{
	height: 8rem;
}

.icons{
	padding-bottom: 1.2rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}
